:root {
    font-size: clamp(16px, calc(1rem+0.25vw), 24px);
}

body {
    font-family: "Inter", sans-serif;
    height: 100%;
    margin: 0;
}

h1 {
    margin: 30px 0;
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 0;
}

.main-div {
    justify-content: center;
    gap: 20%;
    display: flex;
    margin-bottom: 0;
}

.left-div {
    align-items: center;
    width: 30%;
}

.right-div {
    align-items: center;
    width: 30%;
}

.types-div {
    padding: 5% 0;
    font-weight: 700;
    font-size: 1.2rem;
}

.footer {
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 2%;
    gap: 20%;
    display: flex;
}

.arrows-div{
    width: 30%;
    justify-content: space-around;
    display: inline-flex;
}

.arrows-div img{
    height: 50px;
}

.arrows-div div {
    background-color: #E8E8E8;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    width: 40%;
}

.switch-buttons{
    justify-content: space-around;
    width: 30%;
    display: inline-flex;
}

.switch-buttons button {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    border: 0;
    margin: 0 5%;
    padding: 2%;
    font-size: 1.75rem;
}


#pokemonImage {
    width: 100%;
    border: 4px solid black;

}

#pokemonName {
    border-radius: 5px;
    border: 1px solid black;
    background-color: #E8E8E8;
    font-size: 1.75rem;
    margin-top: 5%;
    text-align: center;
    padding: 2%;
}

#pokemonTypes {
    display: flex;
}

#infoDiv {
    text-wrap: wrap;
    height: 400px;
    font-size: 1.75rem;
    background-color: #E8E8E8;
    padding: 10%;
    overflow: auto;
}

#infoButton {
    background-color: #7CFF79;
}

#movesButton {
    background-color: #E8E8E8;
}

/* pokemon types and colors */
.pokemon-type {
    border-radius: 10px;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 10px;
    margin-right: 15px;
    padding: 5px 15px;
    width: auto;
}

.normal {
    background-color: #A8A77A;
}

.fire {
    background-color: #EE8130;
}

.water {
    background-color: #6390F0;
}

.electric {
    background-color: #F7D02C;
}

.grass {
    background-color: #7AC74C;
}

.ice {
    background-color: #96D9D6;
}

.fighting {
    background-color: #C22E28;
}

.poison {
    background-color: #A33EA1;
}

.ground {
    background-color: #E2BF65;
}

.flying {
    background-color: #A98FF3;
}

.psychic {
    background-color: #F95587;
}

.bug {
    background-color: #A6B91A;
}

.rock {
    background-color: #B6A136;
}

.ghost {
    background-color: #735797;
}

.dragon {
    background-color: #6F35FC;
}

.dark {
    background-color: #705746;
}

.steel {
    background-color: #B7B7CE;
}

.fairy {
    background-color: #D685AD;
}